{% extends 'base.html.twig' %}

{% block title %}Add user{% endblock %}

{% block body %}
    <div class="container">
{#{{ dump(form) }}#}
<h3>Users</h3>

        {{ form_start(forma) }}
        {{ form_widget(forma) }}
        {{ form_end(forma) }}
    </div>

{% endblock %}

