{% extends 'base.html.twig' %}

{% block title %}Mon produit{% endblock %}

{% block body %}
<div class="container">
    <h2>Produit</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi deserunt eaque eligendi eos, et excepturi explicabo, illum iure, laborum magnam necessitatibus nihil officiis quis ratione reiciendis repellendus velit voluptate?</p>
</div>
{% endblock %}
