{% extends 'base.html.twig' %}

{% block title %}Ma première page{% endblock %}

{% block nav %}

{% endblock %}
{% block body %}
<div class="container">
    <H1>Ma première page</H1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis, cumque doloremque ea est harum laboriosam mollitia numquam quae quibusdam quisquam repellendus sed suscipit tenetur veritatis voluptatem voluptatum! Beatae, neque?</p>

</div>

{% endblock %}

